<div class="min-h-full">
  <header class="bg-sky-600 pb-24">
    <app-navbar [currentSubject]="currentSubject"/>
  </header>
  <main class="-mt-24 pb-8">
    <div class="container mx-auto sm:px-6 lg:px-8">
      <h1 class="sr-only">Averages</h1>
      <!-- Main 3 column grid -->
      <div class="grid grid-cols-1 items-start gap-4 lg:grid-cols-3 lg:gap-8">
        <!-- Left column -->
        <div class="grid grid-cols-1 gap-4 lg:col-span-2">
          <section aria-labelledby="section-1-title">
            <h2 class="sr-only" id="section-1-title">Grades</h2>
            <div class="overflow-hidden rounded-lg bg-white shadow">
              <div class="p-6">
                <router-outlet/>
              </div>
            </div>
          </section>
        </div>
        <!-- Right column -->
        <app-average-list [subjects]="subjects"/>
      </div>
      <!-- Debug Section -->
      <div class="overflow-hidden rounded-lg bg-yellow-50 shadow">
        <div class="p-6">
          <app-debug-section/>
        </div>
      </div>
    </div>
  </main>
</div>
