<div class="px-4 py-6 sm:grid sm:grid-cols-5 sm:gap-4 sm:px-0">
  <dt class="text-sm font-medium text-gray-900 py-2">
    Semester {{ semesterNumber }}
  </dt>
  <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-4 sm:mt-0 flex justify-between">
    <div class="flex flex-row flex-nowrap overflow-y-scroll gap-x-1.5">
      <app-grade [grade]="grade" *ngFor="let grade of semester.grades()" look="px-2 py-2 text-sm font-medium ring-gray-200"></app-grade>
    </div>
    <div class="flex add-grade">
      <app-input (gradeChange)="addGrade($event)"></app-input>
      <app-grade [grade]="semester.average()" *ngIf="semester.average() > 0" class="ml-1" look="ml-1 font-bold ring-gray-300 px-2 py-2 text-sm"></app-grade>
    </div>
  </dd>
</div>
