<div class="md:flex md:items-center md:justify-between">
  <div class="min-w-0 flex-1">
    <h2
      id="subjectName"
      class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">
      {{ subjectName }}
    </h2>
  </div>
  <div class="mt-4 flex md:ml-4 md:mt-0" id="currentAverage">
    <app-grade [grade]="subject.average()" *ngIf="subject.average() !== 0" look="px-3 py-1 text-lg font-bold ring-gray-200"/>
  </div>
</div>

<div class="mt-6 border-t border-gray-100">
  <dl class="divide-y divide-gray-100">
    <div>
      <app-semester [semester]="semester" [semester-number]="index+1" *ngFor="let semester of subject.semesters(); let index = index"/>
    </div>
    <div class="px-4 py-6 sm:gap-4 sm:px-0" *ngIf="subject.semesters().length < subject.semesterAmount">
      <app-add-semester [subject]="subject"/>
    </div>
  </dl>
</div>
